<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer">
            <div class="footer-title">{{ 'now' | date: '%Y' }} &copy; {{site.title}}</div>

            <div class="footer-social-links">
               
                <a target="_blank" rel="me" href="https://linkedin.com/in/isui-lugo-martinez/">
                        <img src="/assets/iconos/linkedin.png" alt="Linkedin icon" with="24" height="24">
                </a>
                <a target="_blank" rel="me" href="https://github.com/IsuiLugo">
                    <img src="/assets/iconos/github.png" alt="github icon" with="24" height="24">
            </a>
            <a target="_blank" rel="me" href="https://twitter.com/isui_lg">
                <img src="/assets/iconos/twitter.png" alt="X icon" with="24" height="24">
            </a>
                    
            </div>
        </div>
    </div>
    
</footer>